<section class="w-50 mx-auto rounded bg-main-light p-3 shadow" *ngIf="step1">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPass()">
        <label for="Email">Email:</label>
        <input formControlName="email" type="Email" class="form-control mt-2" id="Email" placeholder="Enter Your Email" #inputEmail>
        <button class="btn-main w-100 mt-4">Forgot Password</button>
        <p class="alert alert-success w-75 mx-auto p-1 mb-0 mt-4 text-center" *ngIf="userMsg">{{userMsg}}</p>
        <div class="alert alert-danger" *ngIf="forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched || inputEmail.value.length>0)">
            <p *ngIf="forgotForm.get('email')?.getError('required')">Email is Required</p>
            <p *ngIf="forgotForm.get('email')?.getError('email')">Email is invalid</p>

        </div>
    </form>
</section>
<section class="w-50 mx-auto rounded bg-main-light p-3 shadow" *ngIf="step2">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="text">Reset Code:</label>
        <input formControlName="resetCode" type="ResetCode" class="form-control mt-2" id="ResetCode" placeholder="Enter Reset Code">
        <button class="btn-main w-100 mt-4">Reset Code</button>
        <p class="alert alert-success w-75 mx-auto p-1 mb-0 mt-4 text-center" *ngIf="userMsg">{{userMsg}}</p>
    </form>
</section>
<section class="w-50 mx-auto rounded bg-main-light p-3 shadow" *ngIf="step3">
    <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
        <label for="NewPassword">New Password:</label>
        <input formControlName="resetPass" type="password" class="form-control mt-2" id="NewPassword" placeholder="Enter Your New Password" #inputPassword>
        <button class="btn-main w-100 mt-4">Reset Password</button>
        <p class="alert alert-success w-75 mx-auto p-1 mb-0 mt-4 text-center" *ngIf="userMsg">{{userMsg}}</p>
        <div class="alert alert-danger" *ngIf="resetPassForm.get('password')?.errors && (resetPassForm.get('password')?.touched || inputPassword.value.length>0)">
            <p *ngIf="resetPassForm.get('password')?.getError('required')">password is Required</p>
            <p *ngIf="resetPassForm.get('password')?.getError('pattern')">password must start with uppercase then from 6 to 20</p>

        </div>
    </form>
</section>
