<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2">
<div class="d-flex justify-content-between align-items-center">
    <h1>Shop Cart</h1>
    <button (click)="clearCart()" class="btn btn-sm btn-outline-danger" *ngIf="unempty">Clear Cart</button>
</div>
<h4 class="text-center" *ngIf="empty">your Cart is Empty</h4>
<p class="text-main" *ngIf="unempty">Total Price : {{cartDetails.totalCartPrice | currency:" EGP "}}</p>

<div class="row border-bottom py-3" *ngFor="let item of cartDetails.products">
    <div class="col-md-1">
        <img [src]="item.product.imageCover" alt="" class="w-100">
    </div>
    <div class="col-md-11">
<div class="d-flex justify-content-between">
        <!-- details -->
        <div>
            <h3 class="h5">{{item.product.title}}</h3>
            <p class="text-main ">Price : {{item.price}}</p>
            <button *ngIf="unempty" (click)="deleteItem(item.product.id,btnRemove)" class="btn p-0 m-0 text-danger" #btnRemove><i class="fa-regular fa-trash-can me-1"></i>Remove</button>
        </div>
        <!-- btns -->
        <div>
            <button (click)="changeCount(item.count+1,item.product.id,btn1,btn2)" class="btn border border-success " #btn1 >+</button>
            <span class="m-2">{{item.count}}</span>
            <button (click)="changeCount(item.count-1,item.product.id,btn1,btn2)" class="btn border border-success " #btn2>-</button>
        </div>
</div>
        
    </div>
</div>

<button [routerLink]="['/payment',cartDetails._id]" class="btn-main mt-3" *ngIf="unempty">Online Payment <img src="../../../assets/images/visa-1.svg" alt=""></button>

</section>
